<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GFLLogisticsOptimizerWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GFLLogisticsOptimizerWpf.Properties.Settings>
            <setting name="Manpower" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Ammo" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Rations" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Parts" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TDoll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Equip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QuickProduction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QuickRepair" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GreatSuccessChance" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="BaseBonus" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="LowerLimit" serializeAs="String">
                <value />
            </setting>
            <setting name="UpperLimit" serializeAs="String">
                <value />
            </setting>
            <setting name="OptimizationTypeIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </GFLLogisticsOptimizerWpf.Properties.Settings>
    </userSettings>
</configuration>